body {
    background: #eeeeee;
}
/*header*/
.header{
    display: flex;
    align-items: center;
    width:100%;
    height:.52rem;
    background:white;
    font-size:.17rem;
    border-bottom:2px solid #ececec;
}
.header img{
    width:.25rem;
    height:.25rem;
    margin-left:.1rem;
    margin-right:1.15rem;
}
/*content*/
/*.content{*/
    /*background: white;*/
/*}*/
.seach{
    display: flex;
    justify-content: center;
    padding-top:.1rem;
    padding-bottom:.1rem;
    background: white;
}
.seach a{
    display: flex;
    justify-content:center;
    align-items: center;
    width:3.03rem;
    height:.31rem;
    border:1px solid #e9e9e9;
    border-radius:5px;
    background:#f3f3f3;

}
.seach a img{
    width:.15rem;
    height:.15rem;
}
.seach a span{
    font-size:.11rem;
    color:#575757;
}
.nav{
    background: white;
    margin-bottom: .1rem;
}
.navUl{
    display: flex;
    justify-content: space-around;
}
.navUl li a img{
    width:.54rem;
    height:.54rem;
    border-radius: 50%;
}
.navUl li a span{
    display: block;
    text-align: center;
    font-size:.12rem;
    margin-top:.1rem;
    font-weight: 600;
}
.navUls{
    display: flex;
    justify-content: space-around;
}
.navUls li a img{
    width:.45rem;
    height:.25rem;
    margin-top:.23rem;
    margin-bottom:.1rem;
}
.navUls li a span{
    display: block;
    text-align: center;
    font-size:.12rem;
    color:#6c6c6c;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.more p{
    text-align: center;
    font-size:.12rem;
    margin-top:.23rem;
    margin-bottom:.13rem;
    color:#6c6c6c;
}
.more span{
    width:0;
    height:0;
    margin-left:.05rem;
    margin-top:.17rem;
    margin-bottom:.13rem;
    border:.08rem solid transparent;
    border-bottom-color:#d7d7d7;
}
.imgs a img{
    width:100%;
    height:.8rem;
    margin-bottom: .1rem;
}
.uls{
    display: flex;
    width:100%;

}
.uls:first-child li img{
     width:1.86rem;
     height:1.15rem;
     border:1px solid #efefef;
 }
.uls:last-child li img{
    width:1.24rem;
    height:1.19rem;
    border:1px solid #efefef;
    margin-bottom: .1rem;
}
.relax{
    width:100%;
    margin-bottom:.1rem;
    background:white;
    padding-bottom:.13rem;
    background: linear-gradient(to right bottom,#e8f1ff,white);
}
.topBox{
    float:left;
    margin-left:.15rem;
    margin-top:.14rem;
    margin-bottom:.15rem;
}
.relax h5{
    font-size:.16rem;
    color:#081b3b;
}
.relax p{
    font-size:.12rem;
    color:#586577;

}
.relax a{
    width:.85rem;
    height:.26rem;
    float:right;
    font-size:.12rem;
    border-radius:.1rem;
    text-align: center;
    line-height:.26rem;
    color:white;
    margin-top:.2rem;
    margin-right:.16rem;
    background:#08c3ce;
    background: linear-gradient(left ,#08c3ce, #15a0ef)
}
.img{
    width:100%;
    display: flex;
    margin-left:.1rem;
}
.img div{
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #cdedf9;
}
.img img{
    width:1.68rem;
    height:1rem;
}
.img div:last-child{
    margin-left:.13rem;
}
.img div h5{
    margin-left:.1rem;
    margin-top:.06rem;
    margin-bottom:.13rem;
    font-size:.13rem;
    width:1.58rem;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.img div p{
    margin-left:.08rem;
    margin-bottom:.08rem;
}
.img div p span{
    display:inline-block;
    padding:2px 6px 6px 6px;
    font-size:.09rem;
    color:#626162;
    border:2px solid #e2e3e7;
}
/*rankingList*/
.rankingList{
    width:100%;
    background:#ffffff;
    margin-bottom:.1rem;
}
.rankingList h5{
    font-size:.16rem;
    font-weight:100;
    padding-top:.13rem;
    margin-left:.16rem;
    margin-bottom:.2rem;
}
.rankingListUls{
    display: flex;
    overflow: auto;
    padding-bottom:.2rem;
}
.rankingListUls::-webkit-scrollbar {
    display: none;
}
.rankingListUls li a img{
    width:1.28rem;
    height:.75rem;
    margin-left:.1rem;
    margin-right:.1rem;
}
/*courseList*/
.courseList{
    width:100%;
    background:white;
}
.mainCourseUls{
    display: flex;
    overflow: auto;
    height:.4rem;
    align-items: center;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
}
.mainCourseUls::-webkit-scrollbar {
    display: none;
}
.mainCourseUls li{
    white-space: nowrap;
    font-size:.13rem;
    padding-left:.15rem;
    padding-right:.15rem;
}
/*mainCourseDetails*/
.mainCourseDetailsUls li{
    display: flex;
}
.leftBox{
    width:.79rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.leftBox img:first-child{
    width:.69rem;
    height:.69rem;
    margin-top:.1rem;
    margin-bottom:.4rem;
    text-align:right;
}
.leftBox img:last-child{
    width:.41rem;
    height:.145rem;
}
.rightBox{
    font-size:.11rem;
    color:#838383;
    margin-left:.1rem;
}
.title{
    font-size:.15rem;
}
.rightBox img{
    width:.69rem;
    height:.14rem;
}
.address{
    display: flex;
    /*font-size:.11rem;*/
    /*color:#838383;*/
}
.address span:first-child{
    margin-right:10px;
}
.address img{
    width:.48rem;
    height:.17rem;
    margin-left:10px;
}
.videoDisplay{
    display: flex;
}
.videoDisplay img{
    width:.13rem;
    height:.11rem;
}
.videoDisplay span{
    /*font-size:.11rem;*/
    /*color:#838383;*/
}