body,
p,
dl,
dd,
ul,
ol,
li,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
table,
tr,
td,
img {
	margin: 0;
	padding: 0;
}
body,html{
    font-size: 62.5%;
}
body{
    display: flex;
    width: 100%;
    height: 100%；
}
.left{
    width: 18%;
    height: 100%;
    background: #172b4d;
    position: fixed;
    top: 0;
    left: 0;
    overflow:auto;
}
.left::-webkit-scrollbar{
    width: 0;
}
.left h2{
    height: 0;
    padding: 15% 0;
    border-bottom:1px solid #3a4b68; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.left h2 img{
    width:34px; 
    height:34px;
    display: block;
    padding-right: 5%;
}
.left h2 span{
    font-size: 1.4rem;
    color: #ffffff;
}
.left ul{
    list-style: none;
}
.left ul li{
   
    height: 0;
    padding: 11% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7f9bcc;
    text-indent: 7%;
    padding-left: 7%;
    font-size: 1.4rem;
}
.left ul li .left_he{
    display: flex;
    justify-content: flex-start;
}
.left ul .li_one{
    font-size: 1rem;
    text-indent: 0;
}
.left ul li img:nth-child(2){
    padding-right: 10%;
}
.right{
    width: 82%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 18%;
    overflow: auto;   
}
.right header{
    width: 82%;
    height: 60px;
    /* padding: 3% 0; */
    background: #ffffff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}
.right .right_left{
    width: 50%;
    height: 100%;
    padding: 3% 0;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}
.right header .right_left input{
    width: 70%;
    display: -webkit-inline-box;
    height:30px;
    /* padding: 3% 0; */
    border-radius:5px; 
    font-size:1.2rem;
    /* color: #e4e5e7; */
    text-indent: 5px;
    border: 1px solid #e5e5ea;
    background: #f9f9f9 url("../img/fangda.jpg") no-repeat 97% 50%;
}
.right header .right_left img{
    display: block;
    padding: 0 5%;
}
.right .right_right{
    flex: 1;
    height: 100%;
    padding: 3% 0;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
}
.right .right_right img{
    display: block;
    margin-right: 3%;
}
section{
    height: 150px;
    background: #f7f7f7;
    margin-top: 3px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: space-around;
    /* box-shadow: 0 -10px -3px #ebebeb; */
}
section .box{
    width: 22%;
    height: 60%;
    border-radius: 5px;
    background: #2dce89;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.box p{
     height: 50px; 
}
.box p span{
    display: block;
    color: #ffffff;
}
.box p .box_one{
    font-size: 1.6rem;
}
.box p .box_two{
    font-size: 2rem;
    font-weight: 700;
}
.shuju{
    height: 430px;
    display: flex;
    justify-content: space-around;
    background: #f7f7f7;
}
.shuju div{
    width: 46%;height:400px;
    background: #ffffff;
    box-shadow:2px  3px  #ebebeb;
}
.shuju div:nth-child(2){
    box-shadow: -2px 0 #ebebeb;
}
.shujulian{
    height: 430px;
    display: flex;
    justify-content: center;
    background: #f7f7f7;
}
#shujulian{
    box-shadow:2px  3px  #ebebeb;
    background: #ffffff;

}
.kuangjia{
    height: 430px;
    background: #f7f7f7;
    display: flex;
    justify-content: space-around;
}
.kuangjia .kuangjia_left{
    width: 60%;
    height: 390px;
    margin-left:  10px;
    box-shadow:2px  3px  #ebebeb;
    background: #ffffff;


}
.kuangjia .kuangjia_left p{
    display: flex;
    height: 45px;
    border-bottom:1px solid #dee2e6;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.kuangjia_left p span{
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #090808;
}
.kuangjia .kuangjia_left ul{
    list-style: none;
}
.kuangjia ul li{
    height: 60px;
    display: flex;
    /* height: 45px; */
    border-bottom:1px solid #dee2e6;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.kuangjia .kuangjia_right {
    height: 390px;
    width: 30%;
    margin-right: 10px;
    box-shadow:2px  3px  #ebebeb;
    background: #ffffff;
}
.kuangjia .kuangjia_right p{
    display: flex;
    height: 45px;
    border-bottom:1px solid #dee2e6;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.kuangjia_right p span{
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #090808;
}
.kuangjia .kuangjia_right ul{
    list-style: none;
}
.kuangjia .kuangjia_right ul li{
    height: 69px;
    display: flex;
    /* height: 45px; */
    border-bottom:1px solid #dee2e6;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.quan{
    height: 250px;
    background: #f7f7f7;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    box-sizing: border-box;
}
.quan .box1{
    width: 24%;
    height: 210px;
    background: #ffffff;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    box-shadow:2px  3px  #ebebeb;

}
.quan img{
    display: inline-block;
}
.input{
    height: 490px;
    background: #f7f7f7;
    padding: 0 20px;
    box-sizing: border-box;
    /* margin-bottom: 100px; */
}
.input p{
    display: flex;
    height: 45px;
    width: 99%;
    border-bottom:1px solid #dee2e6;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow:2px  0  #ebebeb;
}
.input p span{
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #090808;
}
.input ul{
    width: 99%;
    list-style: none;
    background: #ffffff;
    box-shadow:2px  3px  #ebebeb;
}
.input ul li{
height: 60px;
display: flex;
border-bottom:1px solid #dee2e6;
justify-content: space-between;
align-items: center;
padding: 0 20px;
box-sizing: border-box;
}
.input ul li span{
    font-size: 1.3rem;
    display: block;
}
.input ul li img{
    display: block;
}
.input ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    width: 100px;
    height: 30px;
    border: 1px solid #2dce89;
    border-radius:10px;
    line-height: 30px;
    text-align: center;
}
.foot{
    height: 50px;
    border-top:1px solid #dee2e6;
}
.foot p{
    font-size: 1.3rem;
    height: 50px;
    background: #f7f7f7;
    line-height: 50px;
    text-align: center;
}